
@{
    ViewBag.Title = "AddGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Modified Js/GroupAccess.js"></script>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <button type="button" class="btn btn-info" id="AddUserGroup"> Add User Group</button>
    </li>
</ol>


<div class="box">
    <div class="box-body table-responsive no-padding">
        <div class="box-body">

            <table id="TBLUserGroup" class="table table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>User Group</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>User Group</th>
                        <th>Edit</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>



<div class="modal fade" role="dialog" id="ModAddUserGroup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header btn-info">
                <h5 class="modal-title">User Access List</h5>

            </div>
            <div class="box-body">
                <input type="text" id="UACode" style="width: 100%;" />
                <label>User Group:</label>
                <span class="error" id="UGccessErr">*</span>
                <input type="text" class="form-control " id="UGroup" style="width: 100%;"/>
                <div class="box box-danger direct-chat direct-chat-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Direct Chat</h3>
                        <div class="box-tools pull-right">
                            <span data-toggle="tooltip" title="3 New Messages" class="badge bg-red">3</span>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                                <i class="fa fa-comments"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <form action="#" method="post">
                            <div class="input-group">
                                <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-danger btn-flat">Send</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-footer-->
                </div>
            </div>
            <div class="modal-footer">
                <input id="UGUpdate" type="button" value="Update" class="btn btn-primary btn-flat" data-dismiss="modal">
                <input id="UGSave" type="button" value="Save" class="btn btn-primary btn-flat">
                <button type="button" id="UGClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>